body {
	background-color: #F4F4F1;
}

.header {
	color: #777;
	width: 200px;
	margin-left: 50px;
	margin-right: auto;
	margin-bottom: 5px;
}

.text-box {
	color: white;
	background-color: peachpuff;
	height: 150px;
	width: 500px;
	margin: 5px auto 0px 50px;
	padding: 5px 0px 0px 5px;
}

.new-text-box {
	color: white;
	background-color: peachpuff;
	height: 150px;
	width: 500px;
	margin: 5px auto 0px 50px;
	padding: 5px 0px 0px 5px;
}